@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
* {
  margin: 0;
  padding: 0;
}

/* Imágenes */
.cartas {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.cartas .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #18151f;
  margin: 30px 10px;
  padding: 20px 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.cartas .card:hover {
  height: 320px;
}

.cartas .card .work-image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cartas .card .work-image img {
  max-width: 100%;
  border-radius: 15px;
}

.cartas .card .contenido-cartas {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.cartas .card:hover .contenido-cartas {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.cartas-2 {
  padding: 59px;
}

/* Fin Imágenes */
/* Video Informativo */
.video__div {
  margin-bottom: 200px;
  margin-top: 70px;
}

.video__section {
  background-color: #18151f;
}

.carousel-inner {
  max-height: 39rem;
  padding-top: 2rem;
}

.video__informativo__parrafo {
  font-size: large;
  font-weight: bold;
  margin: auto;
  padding: 2%;
  margin-right: 5%;
  color: white;
}

.video__informativo__parrafo {
  font-family: "Port Lligat Slab", serif;
}

/* Fin Video Informativo */
/* Titulo */
.titulo__section {
  height: 75px;
  width: auto;
  /* background-color: coral; */
}

.titulo-index {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #2a2a2a;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

.titulo-index::before {
  content: "TRABAJOS";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(45deg, transparent 0, transparent 2px, white 2px, white 4px);
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.titulo-index::after {
  content: "TRABAJOS";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(135deg, transparent 0, transparent 2px, white 2px, white 4px);
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.titulo-index:hover::before {
  top: 10px;
  left: 10px;
}

.titulo-index:hover::after {
  top: -10px;
  left: -10px;
}

.nosotros__margin {
  margin-top: 100px;
}

/* Fin titulo */
/* Footer */
footer {
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1 !important;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contenedor {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 6rem;
}

footer {
  /* position: absolute; */
}

.linea-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: bottom;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.linea {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-content-contenedor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0, 5s;
}

.menu-item-footer:hover {
  opacity: 1;
  color: coral;
}

.menu-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

/* aca profe no sé xq no aparecen las imagenes que estoy vinculando */
.social-link {
  height: 100%;
  width: 30px;
  background-image:url(/multimedia/images/Facebook.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
  background-image: url(/multimedia/images/Instagram.pnghttps://e7.pngegg.com/pngimages/479/795/png-clipart-logo-computer-icons-instagram-logo-text-logo.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(/multimedia/images/Cel.png);
}

/* Header */
.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

/*
headeer top
*/
.topbar {
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin: -7px;
  padding: 0;
}

.topbar .container .row .col-md-12 {
  padding: 0;
}

.topbar p {
  margin: 0;
  display: inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i {
  margin-right: 5px;
}

.topbar p:last-child {
  text-align: right;
}

header .navbar {
  margin-bottom: 0;
}

.topbar li.topbar {
  display: inline;
  padding-right: 18px;
  line-height: 52px;
  transition: all 0.3s linear;
}

.topbar li.topbar:hover {
  color: #1bbde8;
}

.topbar ul.info i {
  color: #131313;
  font-style: normal;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.topbar ul.info li {
  float: right;
  padding-left: 30px;
  color: #ffffff;
  font-size: 13px;
  line-height: 44px;
}

.topbar ul.info i span {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 18px;
}

ul.social-network {
  border: none;
  margin: 0;
  padding: 0;
}

ul.social-network li {
  border: none;
  margin: 0;
}

ul.social-network li i {
  margin: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
  border: 0px solid #2D2D2D;
  padding: 5px 0 0;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
  color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
  color: #fff;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-dark {
  background-color: #222;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, coral 48%, #1b1e21 48%);
  background: -webkit-linear-gradient(left, coral 48%, #1b1e21 48%);
  background: linear-gradient(45deg, coral 48%, #1b1e21 48%);
}

/* Fin Header */
footer {
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1 !important;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contenedor {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 6rem;
}

.title-contacto {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

.title-contacto-2 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

.contenedor-contacto {
  width: 100%;
  margin-top: 100px;
  padding-top: 85px;
}

/* ///// inputs /////*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
.mapa-contacto {
  display: flex;
  justify-content: center;
  width: 100%;
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 20px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: coral;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: coral;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

/* .postcard:before {
 content: &#34;
&#34;
;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-image: linear-gradient(-70deg, #424242, transparent 50%);
 opacity: 1;
 border-radius: 10px;
} */
.postcard:hover .postcard__bar {
  width: 100px;
}

.postcard__title {
  color: white;
}

.mapa-nosotros {
  width: 100% !important;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  /* .postcard .media.postcard__text:before {
     content: &#34;
    &#34;
    ;
     position: absolute;
     display: block;
     background: #18151f;
     top: -20%;
     height: 130%;
     width: 55px;
  } */
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  /* .postcard__text:before {
     content: &#34;
    &#34;
    ;
     position: absolute;
     display: block;
     top: -20%;
     height: 130%;
     width: 55px;
  } */
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
/* FIN HTML NOSOTROS */
@media (max-width: 768px) {
  .footer-contenedor {
    padding: 2rem;
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
  .footer-content-contenedor {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }
  .footer-content-contenedor:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-contenedor:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
  .footer-menus .footer-content-contenedor:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-contenedor:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
  }
  .cartas .card {
    width: 100% !important;
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 24vw;
  }
  .titulo__section {
    width: 100% !important;
    margin-left: 100vw;
  }
}
@media only screen and (min-width: 769px) {
  .expansible {
    display: none;
  }
}
#carouselExampleControls {
  margin-top: 70px;
}

.mt-50 {
  margin-top: 50px;
}

.title-catalogo {
  padding-top: 70px;
}

.mb-50 {
  margin-bottom: 50px;
}

.card-second {
  background-color: #18151f;
  padding: 20px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #2a2a2a;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
  margin: 10px;
  border: 1px solid #2a2a2a !important;
}

.card-img-actions {
  position: relative;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
  background-color: coral;
}

.card-img {
  width: 350px;
  height: 350px !important;
}

.bg-cart {
  background-color: orange;
  color: #2a2a2a;
}

.bg-cart:hover {
  color: #2a2a2a;
}

.bg-buy {
  background-color: green;
  color: #fff;
  padding-right: 29px;
}

.bg-buy:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

.title-producto {
  color: #fff;
}

.title-producto:hover {
  color: coral;
}

.price-catalogo {
  color: #fff;
}

.service-14 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.service-14 h1, .service-14 h2, .service-14 h3, .service-14 h4, .service-14 h5, .service-14 h6 {
  color: #3e4555;
}

.service-14 h3 {
  line-height: 36px;
  font-size: 30px;
}

.service-14 h6 {
  line-height: 22px;
  font-size: 18px;
}

.service-14 .badge {
  line-height: 14px;
}

.service-14 .badge-info {
  background: coral;
}

.service-14 .font-weight-medium {
  font-weight: 500;
}

.service-14 a {
  text-decoration: none;
}

.service-14 .linking {
  color: #3e4555;
}

.service-14 .linking:hover {
  color: coral;
}

.service-14 .btn-info-gradiant {
  background: coral;
  background: -webkit-linear-gradient(legacy-direction(to right), coral 0%, #316ce8 100%);
  background: -webkit-gradient(linear, left top, right top, from(coral), to(#316ce8));
  background: -webkit-linear-gradient(left, coral 0%, #316ce8 100%);
  background: -o-linear-gradient(left, coral 0%, #316ce8 100%);
  background: linear-gradient(to right, coral 0%, #316ce8 100%);
}

.service-14 .btn-info-gradiant:hover {
  background: coral;
  background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
  background: -webkit-linear-gradient(left, #316ce8 0%, coral 100%);
  background: -o-linear-gradient(left, #316ce8 0%, coral 100%);
  background: linear-gradient(to right, #316ce8 0%, coral 100%);
}

.service-14 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.services {
  margin-top: 100px;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #2a2a2a !important;
}

/* SECCION HTML NOSOTROS */
/* <html><head></head><body>@import url(&#34;
https://fonts.googleapis.com/css2?family=Baloo+2&amp;
display=swap&#34;); */
/* This pen */
.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: coral;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

/* .postcard:before {
 content: &#34;
&#34;
;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-image: linear-gradient(-70deg, #424242, transparent 50%);
 opacity: 1;
 border-radius: 10px;
} */
.postcard:hover .postcard__bar {
  width: 100px;
}

.postcard__title {
  color: white;
}

.mapa-nosotros {
  width: 100% !important;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  /* .postcard .media.postcard__text:before {
     content: &#34;
    &#34;
    ;
     position: absolute;
     display: block;
     background: #18151f;
     top: -20%;
     height: 130%;
     width: 55px;
  } */
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  /* .postcard__text:before {
     content: &#34;
    &#34;
    ;
     position: absolute;
     display: block;
     top: -20%;
     height: 130%;
     width: 55px;
  } */
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
/* FIN HTML NOSOTROS */
@media (max-width: 768px) {
  .footer-contenedor {
    padding: 2rem;
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
  .footer-content-contenedor {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }
  .footer-content-contenedor:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-contenedor:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
  .footer-menus .footer-content-contenedor:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-contenedor:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
  }
  .cartas .card {
    width: 100% !important;
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 24vw;
  }
  .titulo__section {
    width: 100% !important;
    margin-left: 100vw;
  }
}
@media only screen and (min-width: 769px) {
  .expansible {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
