/* Video Informativo */
.video__div {
    margin-bottom: 200px;
  }
  .video__section {
    background-color: #18151f;
  }
  
  .carousel-inner {
    max-height: 39rem;
    padding-top: 2rem;
  }
  .video__informativo__parrafo {
    font-size: large;
    font-weight: bold;
    margin: auto;
    padding: 2%;
    margin-right: 5%;
    color: white;
  }
  /* Fin Video Informativo */