/* Footer */
@import "mapas";
@import "extends";
@import "mixins";

footer {
    /* position: absolute; */
  @extend %footer-config;
  }
  
  .linea-contenedor {
    width: 100%;
    display: flex;
    @include justifies(center);
    align-items: bottom;
    border-top: 1px solid map-get($map: $colors, $key:"forth" );
  }
  .linea {
  
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
  }
  
  .footer-menus {
    @extend %footer-menus;
  }
  
  .footer-contenedor {
   @extend %footer-contenedor;
  }
  
  .footer-content-contenedor {
    display: flex;
    @include justifies (flex-start);
    align-items: flex-start;
    flex-direction: column;
  }
  
  footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
  }
  
  .footer-info, .menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: map-get($map: $colors, $key:terciary );
    text-decoration: none;
    transition: 0,5s;
  }
  
  .menu-item-footer:hover{
    opacity: 1;
    color: map-get($map: $colors, $key:primary );
  } 
  
  .menu-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  
  
  .social-contenedor {
    display: flex;
    @include justifies (center);
    align-items: center;
    height: 30%;
    width: 100%;
  }
  /* aca profe no sé xq no aparecen las imagenes que estoy vinculando */
  .social-link {
    height: 100%;
    width: 30px;
    background-image:url(/multimedia/images/Facebook.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
  }
  
  .social-link:hover{
    opacity: 0.7;
  }
  
  footer .social-link:nth-of-type(2) {
    background-image:url(/multimedia/images/Instagram.pnghttps://e7.pngegg.com/pngimages/479/795/png-clipart-logo-computer-icons-instagram-logo-text-logo.png) ;
  }
  footer .social-link:nth-of-type(3) {
    background-image:url(/multimedia/images/Cel.png) ;
  }